.botplayer
  .album-art-wrapper
    img(src="")
  .song-information
    span.title Robot Jazz
    span.artist Toothless Hawkins
  .audio-controls
    i.material-icons fast_rewind
    i.playpause.material-icons pause_circle_outline
    i.material-icons fast_forward
  .volume-controls
    i.material-icons volume_up
  .song-navigation
    ul
      li: a(href="#") Tokens
      li: a(href="#") Share
  .song-controls
    i.material-icons loop
    i.material-icons shuffle