.sidebar
  .logo-wrapper
    .logo tokenly<strong>music</strong>
  .primary-navigation
    .menu.main-menu
      .menu-label Main
      ul
        li: a(href="/browse.html")
          i.icon.material-icons featured_play_list
          span Browse
        li: a(href="/")
          i.icon.material-icons library_music
          span My Music
        li: a(href="")
          i.icon.material-icons toll
          span My Tokens
    .menu.playlist-menu
      .menu-label Playlists
      ul(ng-repeat="playlist in playlists")
        li: a(href="") {{ playlist.name }}
    .menu.genres-menu
      .menu-label Genres
      ul(ng-repeat="genre in genres")
        li: a(href="") {{ genre.name }}