.sidebar
  .logo-wrapper
    .logo tokenly<strong>music</strong>
  .primary-navigation
    .menu.main-menu
      .menu-label Main
      ul
        li: a(href="/browse.html")
          i.icon.material-icons featured_play_list
          span Browse
        li: a(href="/")
          i.icon.material-icons library_music
          span My Music
        li: a(href="")
          i.icon.material-icons toll
          span My Tokens
    .menu.playlist-menu
      .menu-label Playlists
      ul
        li: a(href="/playlist.html") Focus
        li: a(href="/playlist.html") Workout
        li: a(href="/playlist.html") Party
    .menu.genres-menu
      .menu-label Genres
      ul
        li: a(href="") Focus
        li: a(href="") Workout
        li: a(href="") Party
        li: a(href="") Focus
        li: a(href="") Workout
        li: a(href="") Party
        li: a(href="") Focus
        li: a(href="") Workout
        li: a(href="") Party
        li: a(href="") Focus
        li: a(href="") Workout
        li: a(href="") Party
        li: a(href="") Focus
        li: a(href="") Workout
        li: a(href="") Party
        li: a(href="") Focus
        li: a(href="") Workout
        li: a(href="") Party