.topbar
  .search
    .icon: i.material-icons search
    input(type="text" placeholder="Search for a song, artist or token...")
  .user-information
    span signed in as <a href=""><strong>adamraider</strong></a>