doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Tokenly Music
    link(rel="stylesheet" href="/css/application.css")
  body
    h1 Tokenly Music
    p Get started in index.pug.
            
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="/js/script.js")