doctype html
html(lang="en")
  head
    include partials/_head
  body
    include partials/_sidebar
    .content-wrapper.with-side-nav
      include partials/_topbar
      .page-information
        span.page-heading Focus Music
        span.page-subheading Created on May 20th, 2016
      .content.with-gutter
        table
          thead
            tr
              th #
              th Song
              th Artist
              th Album
              th Length
              th Tokens
          tbody
            tr
              td.muted 1
              td Raise Your Weapon
              td Deadmau5
              td 4x4=12
              td.muted 8:42
              td.muted Deadmau5 Pack
            tr
              td.muted 1
              td Raise Your Weapon
              td Deadmau5
              td 4x4=12
              td.muted 8:42
              td.muted Deadmau5 Pack
            tr
              td.muted 1
              td Raise Your Weapon
              td Deadmau5
              td 4x4=12
              td.muted 8:42
              td.muted Deadmau5 Pack
            tr
              td.muted 1
              td Raise Your Weapon
              td Deadmau5
              td 4x4=12
              td.muted 8:42
              td.muted Deadmau5 Pack
            tr
              td.muted 1
              td Raise Your Weapon
              td Deadmau5
              td 4x4=12
              td.muted 8:42
              td.muted Deadmau5 Pack
            tr
              td.muted 1
              td Raise Your Weapon
              td Deadmau5
              td 4x4=12
              td.muted 8:42
              td.muted Deadmau5 Pack
            tr
              td.muted 1
              td Raise Your Weapon
              td Deadmau5
              td 4x4=12
              td.muted 8:42
              td.muted Deadmau5 Pack
            tr
              td.muted 1
              td Raise Your Weapon
              td Deadmau5
              td 4x4=12
              td.muted 8:42
              td.muted Deadmau5 Pack
            tr
              td.muted 1
              td Raise Your Weapon
              td Deadmau5
              td 4x4=12
              td.muted 8:42
              td.muted Deadmau5 Pack
            tr
              td.muted 1
              td Raise Your Weapon
              td Deadmau5
              td 4x4=12
              td.muted 8:42
              td.muted Deadmau5 Pack
            tr
              td.muted 1
              td Raise Your Weapon
              td Deadmau5
              td 4x4=12
              td.muted 8:42
              td.muted Deadmau5 Pack
            tr
              td.muted 1
              td Raise Your Weapon
              td Deadmau5
              td 4x4=12
              td.muted 8:42
              td.muted Deadmau5 Pack

    .clearfix
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="/js/script.js")